.card {
    display: flex;
    justify-content: center;

}

.card-text {
    justify-content: center;
}

.card-text .ant-input {
    width: 500px;
}

.gen-image .ant-image {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    height: 95%;
}

.Button-saveimage {
    display: flex;
    justify-content: center;
}

.gen-image .ant-spin {
    display: flex;
    justify-content: center;
}